.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  color: var(--color-blue);
}

.cards__image {
  width: 80%;
  height: auto;
  margin: 50px 5px;
}

.cards__heading {
  color: var(--color-black);
  margin: 5px 0;
  font-size: 1.3em;
}

.cards__text {
  margin: 0 10px 10px;
  padding: 10px 20px 20px;
  font-size: 0.9em;
}

@media (min-width: 600px) {
  .cards {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cards > div {
    width: 40%;
  }

  .cards__text {
    padding: 0;
    margin: 0;
  }

  .cards__image {
    width: 35%;
    order: 3;
  }

  .cards:nth-child(even) > .cards__image {
    order: -1;
  }
}
