.app-banner {
  display: grid;
  justify-items: center;
  row-gap: 20px;
  padding: 40px 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: -100px;
  background-color: var(--color-white);
}

.app-banner__heading {
  color: var(--color-black);
  margin-bottom: 5px;
}

.app-banner__button {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 70%;
  border-radius: 20px;
  height: 36px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  text-decoration: none;
}
