.app-footer {
  background-color: var(--color-bg-footer);
  display: grid;
  color: var(--color-white);
  row-gap: 16px;
  padding: 16px;
  padding-top: 200px;
  padding-bottom: 40px;
}

.app-footer__heading {
  width: 180px;
  height: 26px;
  margin-bottom: 10px;
}

.app-footer__heading-color {
  fill: var(--color-white);
}

.app-footer__text {
  margin: 0;
  font-style: normal;
  text-align: left;
}

.app-footer__contact {
  display: grid;
  grid-template-columns: 38px auto;
  font-style: normal;
}

.app-footer__contact > svg {
  margin: 5px;
}

.app-footer__nav {
  display: grid;
  row-gap: 16px;
  margin: 40px 0;
}

.app-footer__nav-item {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.1em;
}

.app-footer__social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}

.app-footer__social-media {
  display: flex;
  justify-content: center;
}

.app-footer__social-media-icon {
  background-color: var(--color-bg-footer);
  border: 1px solid var(--color-white);
  border-radius: 50%;
  margin: 8px;
  padding: 4px;
  height: 32px;
  width: auto;
  fill: var(--color-white);
}

.app-footer__copyright {
  font-size: 0.75rem;
  text-align: center;
}

@media (min-width: 600px) {
  .app-footer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px 7%;
  }
  .app-footer__contact {
    grid-column: 1;
    row-gap: 0;
  }

  .app-footer__social-media-container {
    height: auto;
  }

  .app-footer__copyright {
    grid-column: 3;
    grid-row: 3;
    align-self: flex-end;
  }

  .app-footer__social-media-icon {
    align-self: flex-start;
    grid-column: 3;
    grid-row: 2;
  }

  .app-footer__nav {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    row-gap: 0;
    padding-bottom: 20px;
  }

  .app-footer__nav-item:nth-child(-n + 3) {
    grid-column: 1;
  }

  .app-footer__nav-item:nth-child(n + 4) {
    grid-column: 2;
    grid-row: 1;
  }

  .app-footer__nav-item:nth-child(n + 5) {
    grid-column: 2;
    grid-row: 2;
  }

  .app-footer__nav-item:nth-child(n + 6) {
    grid-column: 2;
    grid-row: 3;
  }
}
