/* hoover */

@media (any-hover: hover) {
  .cta-button:hover {
    background-color: #ff9bdb;
  }

  .app-footer__social-media-icon:hover {
    border: 1px solid var(--color-primary);
    fill: var(--color-primary);
  }
}

/* general */
@media (min-width: 600px) {
  body {
    justify-items: center;
  }
  .aside-style {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .text {
    text-align: left;
  }

  .header {
    text-align: left;
  }

  .main-style {
    padding: 100px 50px 40px;
  }

  .cta-button {
    width: 200px;
    height: 40px;
  }
}
