/* hoover */

@media (any-hover: hover) {
  .cta-button:hover {
    background-color: #ff9bdb;
  }
}

/* general */
@media (min-width: 600px) {
  body {
    justify-items: center;
  }
  .aside-style {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .text {
    text-align: left;
  }

  .header {
    text-align: left;
  }

  .main-style {
    padding: 100px 50px 40px;
  }
}

/* header sryling */
@media (min-width: 800px) {
  .app-header {
    grid-template-columns: 2fr 3fr;
    padding: 30px;
  }

  .app-header__button1 {
    height: 36px;
    width: 120px;
    padding-top: 10px;
  }

  .app-header__heading {
    grid-column: 1;
  }
  .app-header__text {
    grid-column: 1;
  }
  .app-header__button2 {
    grid-column: 1;
    justify-self: left;
  }
  .app-header__mockup-img {
    grid-column: 2;
    grid-row: 2/5;
  }
}

/* cards styling */
@media (min-width: 600px) {
  .cards {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cards > div {
    width: 40%;
  }

  .cards__text {
    padding: 0;
    margin: 0;
  }

  .cards__image {
    width: 35%;
    order: 3;
  }

  .cards:nth-child(even) > .cards__image {
    order: -1;
  }
}

/* banner */
@media (min-width: 600px) {
  .app-banner {
    width: 50%;
  }
  .app-banner__heading {
    text-align: center;
  }
}

/*  footer styling */
@media (min-width: 600px) {
  .app-footer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px 7%;
  }
  .app-footer__contact {
    grid-column: 1;
    row-gap: 0;
  }

  .app-footer__copyright {
    grid-column: 3;
  }

  .app-footer__nav {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .app-footer__nav-item:nth-child(-n + 3) {
    grid-column: 1;
  }

  .app-footer__nav-item:nth-child(n + 4) {
    grid-column: 2;
    grid-row: 1;
  }

  .app-footer__nav-item:nth-child(n + 5) {
    grid-column: 2;
    grid-row: 2;
  }

  .app-footer__nav-item:nth-child(n + 6) {
    grid-column: 2;
    grid-row: 3;
  }
}
