:root {
  --color-white: #fefefe;
  --color-black: #111;
  --color-primary: hsl(322, 100%, 66%);
  --color-bg-footer: hsl(192, 100%, 9%);
  --color-blue: hsl(208, 11%, 55%);
  --color-cyan: hsl(193, 100%, 96%);
}
