.app-header {
  display: grid;
  position: static;
  grid-column: 1fr 1fr;
  justify-items: center;
  row-gap: 30px;
  color: var(--color-black);
  padding: 0 12px;
  padding-top: 30px;
}

.app-header__background-img {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 110%;
  height: auto;
}

.app-header__huddle-img {
  justify-self: start;
  width: 60%;
  height: auto;
}

.app-header__button1 {
  box-shadow: 2px 2px 5px lightgray;
  padding: 2px;
  padding-top: 4px;
  border-radius: 18px;
  height: 24px;
  width: 17ch;
  justify-self: end;
}

.app-header__heading {
  margin-top: 50px;
  grid-column: 1 / span 2;
  padding: 0 14px;
}

.app-header__text {
  font-size: 16px;
  grid-column: 1 / span 2;
  margin: 0 12px;
  margin-bottom: 8px;
}

.app-header__button2 {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 70%;
  border-radius: 20px;
  height: 36px;
  box-shadow: 2px 2px 7px #808080;
  padding-top: 8px;
  text-decoration: none;
  grid-column: 1 / span 2;
  margin-bottom: 30px;
}

.app-header__mockup-img {
  grid-column: 1 / span 2;
  width: 90%;
  height: auto;
  margin-bottom: 20px;
}
