.app-header {
  color: var(--color-black);
  padding: 12px;
}

.app-header__heading {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.app-header__background-img {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.app-header__huddle-img {
  width: 50%;
  height: auto;
}

.app-header__heading__button1 {
  background-color: --color-white;
  font-size: 80%;
  border: 1px solid black;
  padding: 6px 16px;
  border-radius: 18px;
}

.app-header__heading__button2 {
  background-color: --color-white;
  font-size: 80%;
  border: 1px solid black;
  padding: 6px 16px;
  border-radius: 18px;
}

.app-header__mockup-img {
  width: 90%;
  height: auto;
}
